<h1> Welcome to the Event Creation page </h1>

<form id="create-event" name="event_create" action="/event/create" method="post">
  <p><input type="text" name="event[name]" placeholder="type the event name here"></p>
  <p><input type="text" name="event[location]" placeholder="please event location here"></p>
  <p><input type="text" name="event[start_date]" placeholder="please type your event's start time"></p>
  <p><input type="text" name="event[end_date]" placeholder="please type your event's end time"></p>
  <p><input type="submit" value="Signup!"></p>
</form>
