<h1>Welcome! </h1>  
<div class="nav">

  <% if current_user %> 
    <p><a href="/logout">Log out </a></p>
  <% else %>
    <p><a href="/signup">Sign up as a new user </a></p>
    <p><a href="/login">Log in as an existing user </a,/p> 
  <% end %>

  <p><a href="/event/create">Create an event</a></p>
  <p><a href="/event/show/:id">Show an event</a></p>
  <p><a href="/event/edit/:id">Edit an event</a></p>
  <p><a href="/event/destroy/:id">Destroy an event</a></p>
</div>

