<h1> Welcome to the Login page </h1>

<form name="login" action="/login" method="post">
  <p><input type="text" name="user[email]" placeholder="please type your email address"></p>
  <p><input type="password" name="user[password]" placeholder="please type your password"></p>
  <p><input type="submit" value="Login!"></p>
</form>
