<h1> Welcome to the Signup page </h1>

<form name="signup" action="/signup" method="post">
  <p><input type="text" name="user[first_name]" placeholder="please type your first name here"></p>
  <p><input type="text" name="user[last_name]" placeholder="please type your last name here"></p>
  <p><input type="text" name="user[email]" placeholder="please type your email address"></p>
  <p><input type="text" name="user[birthdate]" placeholder="please type your birthday"></p>
  <p><input type="password" name="user[password]" placeholder="please type your password"></p>
  <p><input type="password" name="user[password_confirmation]" placeholder="please confirm your password"></p>
  <p><input type="submit" value="Signup!"></p>
</form>
